.bg-guest {
	z-index:-2;
	position: relative;
	background-color: #fff;
	color: #fff;
	overflow: hidden;
}
.bg-guest:before{
	z-index:-1;
	background-color: #ABC9FF;
	content: '';
	display: block;
	transform: rotate(-60deg);
	position: absolute;
	bottom: 50%;
	left: -272%;
	width: 500%;
	height: 500%;
}