.bg-guest {
	z-index:-2;
	position: relative;
	background-color: white;
	color: white;
	overflow: hidden;
}
.bg-guest:before{
	z-index:-1;
	background-color: rgba(0, 119, 255, 0.7);
	content: '';
	display: block;
	transform: rotate(-60deg);
	position: absolute;
	bottom: 50%;
	left: -290%;
	width: 500%;
	height: 500%;
}